flask
opencv-python
mediapipe
numpy
SpeechRecognition
moviepy
pydub
pymongo[srv]
python-dotenv
werkzeug
flask-cors
librosa
torch
transformers
textblob
requests
scipy
ffmpeg-python
tqdm
reportlab
openai
flask-jwt-extended